body
    {
        background-size:cover;
        background-position: center;
    }
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 40px;
    border-color: beige;
    }
    @keyframes example{
        from{
        box-shadow: 1px 1px 40px lime;
        }
        to{
            box-shadow: 1px 1px 40px rgb(19, 208, 251);
            }
        }